@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Bellefair&family=Poppins&family=STIX+Two+Text:wght@700&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=satoshi@500,400&f[]=clash-display@200,400,600&display=swap');
*{
    margin: 0;
    padding: 0;
}
#hamburger{
    display: none ;
}
header{
    display: flex;
}
html{
    overflow-x: hidden;
}
#logo img{
margin-top: 40px;
margin-left: 183px;
}
.logo1{
    display: none;
}
.cls-btn{
    display: none;
}
#nav{
display: flex;
flex-direction: row;
 align-items: flex-start;
 padding: 0px;
gap: 47px;
margin-left: 200px;
}
#nav a{
    font-family: 'Satoshi';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 90px;
text-decoration: none;
color: #292929;
}
#nav a:active{
    text-decoration: underline;
    text-decoration-line: underline;
}
#icons{
    display: flex;
    align-items: center;
    gap: 35px;
    margin-left: 100px;
}



    .page-details{
        margin-left: 103px;
        margin-bottom: 30px;
    }

    .page-details a{
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 52px;
        color: #BCB7B7;
        text-decoration: none;
    }
    .products{
        display: flex;
        margin-left: 103px;
        width: 1200px;
height: 1020px;

border: 1px solid #333333;
    }
    .line1{
border: 1px solid #333333;
margin-left: 20px;
    }
    .art{
        margin-top: 38px;
        margin-left: 50px;
    }
    .details{
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-top: 45px;
       
    }

    .artname{
        display: flex;
        gap: 40px;
        margin-left: 40px;
    }
    .bo-egyp{
        font-family: 'Satoshi';
font-style: normal;
font-weight: 700;
font-size: 46px;
line-height: 45px;
color: #333333;
    }
    .eth-price{
        display: flex;
        gap: 12px;
    }
    .price{
        font-family: 'STIX Two Text';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 63px;
color: #333333;
    }
    .line2{
        border: 1px solid #333333;
        width: 602px;
       
    }
    .creators-details{
        margin-left: 40px ;
    }
    .creator{
        display: flex;
        flex-direction: column;
        gap: 60px;
    }
    .p1{
        font-family: 'Satoshi';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 29px;
color: #616161;
    }
    .ali{
        font-family: 'Satoshi';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 29px;
color: #4693ED;
    }

    .p2{
        font-family: 'Satoshi';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height:23px;
color: #000000;
    }
   .p3{
        font-family: 'Satoshi';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 27px;
color: #000000;
    }
    .pc{
        font-family: 'Satoshi';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 27px;
color: #333333;
    }
.no-of-art{
    display: flex;
    gap: 12px;
}
.no-of-art button{font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 35px;
    color: #333333;
    border: none;
   background-color: #ffffff;
}
.no-of-art p{
    font-family: 'Satoshi';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 97.6%;
color: #333333;
}
.buttons{
    display: flex;
    gap: 30px;
    margin-top: 40px;
}
.add-to-cart-btn{
padding: 24px 88px;
width: 316px;
height: 79px;
background: #3341C1;
border-radius: 3px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 23px;
line-height: 31px;
color: #FFFFFF;
}
.like-btn{
width: 110px;
height: 79px;
border: 1px solid #292929;
}

.description{
    display: flex;
    flex-direction: column;
}

  select{
    height: 126px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height:31px;
    color: #333333;
}
.explore{
    width: 1200px;
height: 114px;
border-radius: 15px;
margin-left: 103px;
margin-top: 50px;
margin-bottom: 40px;
display: flex;
gap: 550px;
background: #FFFFFF;
box-shadow: 4px 4px 64px rgba(0, 0, 0, 0.08);
}
.explore p{
font-family: 'Satoshi';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height:101px;
margin-left: 14px;
color: #333333;
}
.next-prev-btn{
    display: flex;
    gap: 20px;
    margin-top: 30px;
}
.next-prev-btn button{
    width: 59px;
    height: 59px;
    border-radius: 50%;
    background-color: #ffffff;
}
.similar-art{
    display: flex;
    width: 1520px;
    overflow-x: scroll;
    margin-left: 103px;
    gap: 30px;
    margin-bottom: 50px;
}
.similar-art::-webkit-scrollbar {
    display: none;
  }
.sassy, .escape{
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
width: 529px;
box-sizing: border-box;
height: 579px;
background: #FFFFFF;
border: 1px solid #333333;
}
.love-btn{
    text-align: right;
    margin-right: 32px;
}
.love-btn button{
    border: none;
    background-color: #ffffff;
}
.sas{
    text-align: center;
}
.art-price-name{
    display: flex;
    gap: 300px;
}
.art-name1{
    font-family: 'Satoshi';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 31px;
color: #333333;
margin-left: 35px;
}
.art-prices{
    display: flex;
    gap: 12px;
    text-align: center;
    justify-content: center;
    margin-right: 30px;
}
.art-price1{
    font-family: 'Satoshi';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 40px;
color: #333333;
}

.expl-btn{
    text-align: center;
    justify-content: center;
}
.expl-btn button{
    width: 313px;
height: 91px;
background-color: #ffffff;
font-family: 'Satoshi';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 35px;
background: linear-gradient(94.97deg, #78A3AD 24.64%, rgba(192, 86, 9, 0.49) 118.54%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
border-radius: 16px;
margin-bottom: 70px;
}


